.benefits-section {
  padding-top: 80px;
  padding-bottom: 80px;

  background-color: $very-light-gray;

  &--title {
    margin-bottom: 60px;
  }

  &--goods-list--item {
    padding-top: 130px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  &--goods-list--title {
    margin-bottom: 20px;
  }
}
