.in-stock-section {
  padding-top: 80px;
  padding-bottom: 80px;

  &__title {
    margin-bottom: 60px;
  }

  &__goods-list__item {
    padding-top: 52px;
    padding-right: 30px;
    padding-bottom: 36px;
    padding-left: 30px;
  }

  &__goods-list__image {
    width: 260px;
    height: 115px;
    margin-bottom: 50px;

    object-fit: contain;
  }

  &__goods-list__title {
    margin-bottom: 20px;
  }

  &__goods-list__description {
    margin-bottom: 25px;
    height: 121px;
  }

  &__goods-list__price {
    margin-bottom: 33px;
  }
}
