.page-footer {
  padding-top: 50px;
  padding-bottom: 45px;

  background-color: $dark-gray;

  & * {
    color: #ffffff;
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;

    @media (min-width: 480px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 480px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  &__logo {
    margin-bottom: 30px;

    @media (min-width: 480px) {
      margin-bottom: 0;
    }
  }

  &__copyright {
    order: 1;

    @media (min-width: 480px) {
      order: 0;
    }
  }

  &__button {
    margin-bottom: 50px;

    @media (min-width: 480px) {
      margin-bottom: 0;
    }
  }
}
