.phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__number {
    margin-bottom: 5px;

    font-family: 'GothamProBold';
    font-size: 18px;
  }

  &__subtitle {
    color: $light-gray;
    font-size: 11px;
  }
}
